---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';

export const prerender = true
---

<Layout title="Dilshad Noshad">
	<Main>
<H1 text="Hey, I'm Dilshad Noshad!"/>
<H1 text="Welcome to my corner of the internet!"/>
	</Main>
</Layout>

